body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: larger;
    user-select: none;
}
#calculator-wrapper {
    border: 1px solid black;
    width: 300px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #595959;
}

.operators, #operator-equal {
    background-color: #e6f2ff;
}

.digits, #clear {
    background-color: #a6a6a6;
    color: #000000;
}

#operation-result {
    width: 247px;
    height: 50px;
    border: 1px solid black;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;  
    background-color: #e6f2ff;
    line-height: 20px;
    display: flex;
    align-items: center;
}

#flex-column-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 5px;

}

.flex-row-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.flex-row-container div {
    height: 49px;
    width: 59px;
    border: 1px solid black;
    text-align: center;
    line-height: 49px;
    
}

.flex-row-container div:hover {
    filter: brightness(0.8);
}